<button class='btn btn-toggle-favorite btn-secondary btn-sm' {{action 'toggleFavorite'}}>
  {{#if isFavorite}}
    <i class='fa fa-heart'></i>
  {{else}}
    <i class='fa fa-heart-o'></i>
  {{/if}}
</button>
