<!-- Single button -->
<div class="btn-group btn-add-to-record-collection">
  <button type="button" class="btn btn-success-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class='fa fa-plus'></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    {{#link-to 'library.songs.new' class='dropdown-item'}}Add To Library{{/link-to}}
  </div>
</div>
