<div class="card">
  <div class="card-block">
    <h2 class="card-title">Recordly</h2>
    <p class="card-text">Keeping your record collection tidy!</p>
  </div>
  <div class="card-block">
    <btn class='btn btn-block btn-primary' {{action 'signIn' 'twitter'}}>
      Login with Twitter
    </btn>
  </div>
</div>
