<div class="card">
  <div class="card-block">
    <h4 class="card-title">My Favorites</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  <div class='card'>
    <div class='card-block'>
      No Favorites
    </div>
    <div class="card-block">

      <div class='btn-group'>
        {{#link-to 'library.songs' class='btn btn-secondary'}}View Library{{/link-to}}
      </div>
    </div>
  </div>
