<div class="card card-block">
  <h4 class="card-title">README</h4>
  <p class='card-text'>
    Click "Favorites" on the sidebar to see your favorites.
  </p>
  <a href="#" class="card-link">Card link</a>
  <a href="#" class="card-link">Another link</a>
</div>
