{{#each model as |artist|}}
  {{#link-to 'library.artists.artist' artist}}
    {{artist.name}}
  {{/link-to}}
{{else}}
  <div class='card'>
    <div class='card-block'>
      <p class='card-title'>No Artists In Library Yet</p>
    </div>
    <div class='card-block'>
    {{#link-to 'library.artists.new' class='btn btn-primary'}}
      Add Artist To Library
    {{/link-to}}
    </div>
  </div>
{{/each}}
