<div class='row'>
  {{#side-bar class='col-md-2'}}
    <ul class="nav nav-pills nav-stacked">
      <li class="nav-item">
        {{#link-to 'library.songs' class='nav-link'}}
          Songs
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'library.albums' class='nav-link'}}
          Albums
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'library.artists' class='nav-link'}}
          Artists
        {{/link-to}}
      </li>
    </ul>
  {{/side-bar}}
  <div class='col-md-10'>
    {{outlet}}
  </div>
</div>
